[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Game 'Shashki' - a skeleton for creating Bots to play the game
[access "refs/*"]
	owner = group user/gtukmachev
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/gtukmachev
	label-Verified = -1..+1 group user/gtukmachev
	push = group user/gtukmachev
	read = group user/gtukmachev
	rebase = group user/gtukmachev
	removeReviewer = group user/gtukmachev
	submit = group user/gtukmachev
[access "refs/heads/*"]
	create = group user/gtukmachev
	push = +force group user/gtukmachev
	pushMerge = group user/gtukmachev
	read = group user/gtukmachev
[access "refs/tags/*"]
	push = group user/gtukmachev
	push = +force group user/gtukmachev
